<h1 class="m-5">ProjectPage</h1>

<div id="app" class="row">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" v-for="project in projects" v-on:click="getProjectTasks(project)">{{project.name}}</a>
        </div>
    </div>
@*    <div class="col-md-6">
        <h2>Projects</h2>
        <ul class="list-group">
            <li class="list-group-item" v-for="project in projects" v-on:click="getProjectTasks(project)" v-bind:class="getProjectCssClass(project)">
                <a>{{project.name}}</a>
            </li>
        </ul>
    </div>*@
    <div v-if="currentProject" class="col-md-6">
        <h2>{{currentProject.name}} : Tasks</h2>
        <ul class="list-group">
            <li class="list-group-item" v-for="task in tasks" v-on:click="getTask(task)" v-bind:class="getTaskCssClass(task)">
                <a>{{task.taskName}}</a>
            </li>
        </ul>
    </div>
</div>



@section scripts{
    <script>
        var apiURL = 'https://localhost:5001/api/projects';
        var app = new Vue({
            el: '#app',
            data: {
                projects: null,
                currentProject: null,
                tasks: null,
                currentTask: null
            },
            created: function () {
                var self = this;
                self.getProjects();
            },
            methods: {
                getProjects: function () {
                    var self = this;
                    axios.get(`${apiURL}`)
                        .then(function (response) {
                            self.projects = response.data;
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                },

                getProjectTasks: function (project) {
                    var self = this;
                    self.currentProject = project;
                    self.tasks = project.tasks;
                },

                getTask: function (task) {
                    var self = this;
                    self.currentTask = task;
                },

                getTaskCssClass: function (task) {
                    var self = this;
                    if (task == self.currentTask) {
                        return "list-group-item-success";
                    }
                }
            }

        });
    </script>
}