/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #feda4a;
}

/* Provide sufficient contrast against white background */
a {
    color: #feda4a;
}

.yellow-text {
    color: #feda4a !important;
    font-size: 20px !important;
    background-color: black !important;
}

.selectedTask {
    background-color: #feda4a !important;
    color: black !important;
    font-size: 20px !important;
}

.btn-primary {
    background-color: black;
    border-color: #feda4a;
    color: #feda4a;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #feda4a;
    background-color: #1b6ec2;
    border-color: #feda4a;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*ALE Specific css*/
.BackgroundClock {
    background-image: url(../images/clockwallpaper.jpg);
    background-attachment: fixed;
    background-size:cover;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #feda4a;
}

body {
    background-color: #000;
}

h1, h2, h3 {
    font-weight: bold;
    letter-spacing: 0.025em;
    color: #feda4a;
}

h1 {
    font-family: Federant;
    font-size: 4em;
}

h2 {
    font-family: Bilbo;
    font-size: 4em;
}

h3 {
    font-family: Federant;
    font-size: 2em;
}

hr {
    border-top: 1px solid #feda4a;
}

.master {
    min-height: 100%;
    position: relative;
}

main {
    padding-bottom: 185px;
}

.list-group-item {
    border-color: #feda4a;
}


.logTable {
    color: white !important;
    border: solid;
    border-width: thin;
}